<template>

  <nav
      class="z-[5] fixed left-0 top-0 flex items-center justify-center mx-auto w-full h-[60px] bg-white-100 dark:bg-black-300 dark:shadow-none shadow-[0_4px_10px_rgba(0,0,0,0.1)]">
    <div class="flex items-center lg:justify-end justify-between w-full px-10">
      <div class="lg:hidden block">

        <RightDrawer></RightDrawer>

      </div>
      <h1 class="text-left text-xl">Brandyol</h1>
    </div>
  </nav>

</template>

<script setup>

import RightDrawer from "@/components/layout/RightDrawer.vue";
</script>

<style>
.theme-icon svg {
  width: 20px;
  height: 20px;
}
</style>