<template>
  <svg @click="toggleRightDrawer"
       width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
        d="M2.5 3.33301H17.5V4.99967H2.5V3.33301ZM2.5 9.16634H17.5V10.833H2.5V9.16634ZM2.5 14.9997H17.5V16.6663H2.5V14.9997Z"
        fill="black"/>
  </svg>


  <div v-if="isOpen"
       @click="toggleRightDrawer"
       class="bg-black-100 opacity-25 overlay fixed h-full w-full left-0 top-0 z-[11]"></div>


  <aside
      class="overflow-y-auto rounded-l-2xl dark:border border-black-500 bg-white-100 dark:bg-black-300 max-w-[340px] h-full flex flex-col transform bottom-0 -right-0 fixed w-full ease-in-out transition-all duration-300 z-30"
      :class="isOpen ? 'translate-x-0' : 'translate-x-full'"
      ref="drawerRef">
    <div class="h-full w-full flex flex-col items-center">


      <div class="flex items-center w-full mt-4">

        <div @click="goToHomePage"
             class="hover:bg-transparent flex justify-center w-full border-b border-black-100">
          <h2 class="text-center text-black-100 ">برندیول</h2>
        </div>

      </div>

      <ul class="mt-7 w-full flex flex-col">

        <li @click="usersList"
            class="dark:hover:bg-primary-500 dark:hover:text-primary-200 hover:bg-primary-800 hover:text-primary-100 w-full relative flex items-center justify-center mb-4 rounded-3xl transition-all cursor-pointer text-black-200 dark:text-white-400 whitespace-nowrap">
          <div class="flex items-center text-center h-[35px] px-3">
            <span class="mr-2 text-sm">کاربران</span>
          </div>
        </li>

        <li @click="rolesList"
            class="dark:hover:bg-primary-500 dark:hover:text-primary-200 hover:bg-primary-800 hover:text-primary-100 w-full relative flex items-center justify-center mb-4 rounded-3xl transition-all cursor-pointer text-black-200 dark:text-white-400 whitespace-nowrap">
          <div class="flex items-center h-[35px] px-3">
            <span class="mr-2 text-sm">سمت ها</span>
          </div>
        </li>


      </ul>


    </div>
  </aside>

</template>

<script setup>
import {ref} from "vue";
import {useRouter} from "vue-router";

const drawerRef = ref()
const isOpen = ref(false)

const toggleRightDrawer = () => {
  isOpen.value = !isOpen.value
}


const router = useRouter()
// data

// methods
const goToHomePage = () => {
  isOpen.value = false
  router.push({path: '/'})
}

const usersList = () => {
  isOpen.value = false
  router.push({path: '/users'})
}
const rolesList = () => {
  isOpen.value = false
  router.push({path: '/roles'})
}


</script>

<style scoped>

</style>