<template>
  <div
      class="pt-3 z-[6] fixed top-0 right-0 h-full hidden lg:flex bg-white-200 dark:bg-black-300 items-center w-[300px] px-6 overflow-y-auto">
    <div class="h-full w-full flex flex-col items-center">


      <div class="flex items-center w-full mt-4">

        <RouterLink to="/"
                    class="hover:bg-transparent flex justify-center w-full border-b border-black-100">
          <h2 class="text-center text-black-100 ">برندیول</h2>
        </RouterLink>

      </div>

      <ul class="mt-7 w-full flex flex-col">

        <li @click="usersList"
            class="dark:hover:bg-primary-500 dark:hover:text-primary-200 hover:bg-primary-800 hover:text-primary-100 w-full relative flex items-center justify-center mb-4 rounded-3xl transition-all cursor-pointer text-black-200 dark:text-white-400 whitespace-nowrap">
          <div class="flex items-center text-center h-[35px] px-3">
            <span class="mr-2 text-sm">کاربران</span>
          </div>
        </li>

        <li @click="rolesList"
            class="dark:hover:bg-primary-500 dark:hover:text-primary-200 hover:bg-primary-800 hover:text-primary-100 w-full relative flex items-center justify-center mb-4 rounded-3xl transition-all cursor-pointer text-black-200 dark:text-white-400 whitespace-nowrap">
          <div class="flex items-center h-[35px] px-3">
            <span class="mr-2 text-sm">سمت ها</span>
          </div>
        </li>


      </ul>


    </div>
  </div>
</template>

<script setup>
import {useRouter} from "vue-router";

const router = useRouter()
// data

// methods
const usersList = () => {
  router.push({path: '/users'})
}
const rolesList = () => {
  router.push({path: '/roles'})
}


</script>
