<template>




  <div
      class="md:mt-2 mb-10 bg-white-100 dark:bg-black-300 rounded-2xl mx-2 md:mx-10 mt-10 p-1 md:p-3 border border-white-300 dark:border-none"
  >

    <div class="mb-4 text-black-100">
      ایجاد کاربر
    </div>
  <Form/>

  </div>

</template>
<script setup lang="ts">
import Form from "@/components/base/Form.vue";

import {ref, onMounted ,getCurrentInstance} from 'vue'
import UserDTO from '../dto/UserDTO.js';


const headers = ref<string[]>([])
const innerHeaders = ref<any[]>([])
const allInnerHeaders = ref<any[]>([])

const modifyModalVisible = ref(false)
const deleteModalVisible = ref(false)
const submitLoading = ref(false)

const deleteLoading = ref(false)
const name = ref('')



 interface MyResponseData {
   id: string;
   name: string;
   data: any;
 }

const loading = ref<boolean>(false);
const list = ref<any[]>([]);
const data = ref<any[]>([]);
const error = ref<string>('');
import type {AxiosInstance} from 'axios'


declare module '@vue/runtime-core' {
  interface ComponentCustomProperties {
    $axios: AxiosInstance
    list: any[],
  }
}
const app = getCurrentInstance()
const axios = app.appContext.config.globalProperties.$axios

const getUsers = async (): void => {
  loading.value = true;
  error.value = '';


  try {
    const response = await axios.get<any[]>('/objects')
    list.value = response.data;
    if (list.value.length > 0) {
      // headers.value = Object.keys(list.value[0]);
      headers.value = [
        'id',
        'name'
      ]
    }

    const arr = list.value.map((item: any) => {
      if (item.data) {
        Object.keys(item.data).forEach(element => {
          item[element[0]]
        })
        return (Object.keys(item.data))
      }
    })

    const mergedArray = (innerHeaders.value).reduce((accumulator: any, currentArray: any) => {
      return [...accumulator, ...currentArray];
    }, []);

    allInnerHeaders.value = [...new Set(mergedArray.map((item: any) => item.toLowerCase()))];



  }catch (e) {
    error.value = 'Failed to fetch data';
  }
  loading.value = false;





  // Extract all unique inner headers from all objects
  // for (const item of list.value) {
  //   for (const key in item) {

  //     // if (Array.isArray(item[key])) {
  //       const innerHeaders = Object.keys(item[key]);
  //
  //
  //
  //       innerHeaders.forEach(innerHeader => {
  //         if (!allInnerHeaders.value.includes(innerHeader)) {
  //           allInnerHeaders.value.push(innerHeader);
  //         }
  //       });
  //     // }
  //   }
  // }


  // if (list.value.length > 0) {
  //   // headers.value = Object.keys(list.value[0]);
  //   headers.value = [
  //     'id',
  //     'name'
  //   ]
  //   // Extract inner headers dynamically from the inner array of the first object
  //   if (list.value[0].data) {
  //     console.log(list.value[0], ' list.value[0]')
  //     innerHeaders.value = Object.keys(list.value[0].data);
  //   }
  // }


  // Map received data to DTO
  data.value = list.value.map((item: any) => {
    return new UserDTO(item.id, item.name, item.data)
  })


};
const removeItem = async (id): void => {
  loading.value = true;
  error.value = '';



  try {
    /*const response = await axios.delete<any[]>(`/objects/${id}`)*/
    const allData = [...list.value]
    const lis = allData.filter(item=>item.id !== id)

  }catch (e) {
    error.value = 'Failed to fetch data';
  }
  loading.value = false;



};

const editItem = (id)=>{

}


// const getUsers = () => {
//
//   usersList()
//       .then(response => {
//         if (response.data.meta) {
//
//           list.value = response.data.data
//           totalPages.value = response.data.meta.last_page
//
//         } else {

//         }
//
//       }).catch(error => {
//

//     if (error.response.data.meta.errors) {
//
//       let errorMessage = ''
//       const errors:any = {}
//       Object.keys(error.response.data.meta.errors).map((key, index) => {
//         errors[key] = error.response.data.meta.errors[key]
//         errorMessage += `${errors[key]}`
//       })

//
//     } else {
//
//     }
//

//
//   }).finally(() => {
//
//   })
//
// }

// const showMore = (pageItem:any) => {
//   page.value = pageItem;
//   currentPage.value = pageItem;
//   getUsers()
// }

const modifyUser = () => {
  modifyModalVisible.value = true
}

const closeModifyModal = () => {
  modifyModalVisible.value = false
}
const openModifyModal = (item:any) => {
  modifyModalVisible.value = true
}

const submitUser = () => {
  submitLoading.value = true
}
const changeName = (event: any) => {
  name.value = event.target.value
}

const closeDeleteModal = () => {
  deleteModalVisible.value = false
}

const deleteUser = () => {
  console.log('deleteUser')
}

onMounted(() => {
  getUsers()
})

</script>