<template>


  <!--  modify modal  -->
  <component :is="Modal"
             :show-modal="modifyModalVisible"
             @closeModal="closeModifyModal">
    <template v-slot:header>
      <div class="flex items-center justify-end w-full md:w-auto">

        <component :is="Button"
                   type="submit"
                   :loading="submitLoading"
                   text="ذخیره تغییرات"
                   txt-color="text-white-100"
                   custom-style="bg-primary-200 border-2 border-primary-200 flex items-center px-2 py-1 text-xs ml-2"
                   @click="submitUser">

        </component>

        <component :is="Button"
                   type="button"
                   @click="closeModifyModal()"
                   text="انصراف"
                   txt-color="text-primary-200"
                   custom-style="border-2 border-primary-200 flex items-center  px-2 py-1 text-xs">
        </component>
      </div>
    </template>
    <template v-slot:body>

      <div class="flex flex-col">

        <div class="flex items-first mb-4">
          <label for="message"
                 class="min-w-[50px] ml-2 block mb-2 text-sm font-medium text-gray-900">
            نام:
          </label>
          <input type="text"
                 v-model="name"
                 @keyup="changeName($event)"
                 placeholder="نام مورد نظر را وارد نمایید."
                 class="bg-gray-50 text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-indigo-400 focus:outline-none"/>
        </div>

      </div>
    </template>
  </component>

  <!--  delete modal  -->
  <modal :show-modal="deleteModalVisible"
         type="delete"
         @closeModal="closeDeleteModal">
    <template v-slot:header>
      <div class="flex items-first mb-4">
        <label for="message"
               class="min-w-[50px] ml-2 block mb-2 text-sm font-medium text-gray-900">
        </label>
      </div>
    </template>
    <template v-slot:body>
      <p class="text-center my-4 text-sm leading-relaxed mt-0">
        آیا از حذف این آیتم اطمینان دارید؟
      </p>
      <div class="flex justify-center items-center">


        <component :is="Button"
                   type="submit"
                   :loading="deleteLoading"
                   text="تایید"
                   txt-color="text-white-100"
                   custom-style="bg-primary-200 border-2 border-primary-200 flex items-center px-2 py-1 text-xs ml-2"
                   @click="deleteUser">

        </component>

        <component :is="Button"
                   type="button"
                   @click="closeDeleteModal()"
                   text="انصراف"
                   txt-color="text-primary-200"
                   custom-style="border-2 border-primary-200 flex items-center  px-2 py-1 text-xs">
        </component>

      </div>
    </template>
  </modal>


  <div
      class="md:mt-2 mb-10 bg-white-100 dark:bg-black-300 rounded-2xl mx-2 md:mx-10 mt-10 p-1 md:p-3 border border-white-300 dark:border-none"
  >

    <div class="mb-4">
      <component :is="Button"
                 type="button"
                 text="افزودن"
                 txt-color="text-primary-100"
                 custom-style="whitespace-nowrap px-10 py-2 w-fit text-center border border-primary-100 bg-transparent flex items-center justify-end text-xs rounded-lg shadow-[0_4px_10px_rgba(0,0,0,0.1)]"
                 @click="modifyUser">
      </component>
    </div>
  <List :list="list" :headers="headers" @delete-row="removeItem" @edit-row="editItem" />

  </div>

</template>
<script setup lang="ts">
console.log('vue' , )
import {ref, onMounted ,getCurrentInstance} from 'vue'
import UserDTO from '../dto/UserDTO.js';

import Button from '@/components/base/Button.vue'
import List from '@/components/List.vue'
import Modal from "@/components/base/Modal.vue";
import apiClient from "@/plugins/axios";
// import {usersList} from '@/api/users'
// import axios from 'axios';
import type {AxiosResponse} from 'axios';

const headers = ref<string[]>([])
const innerHeaders = ref<any[]>([])
const allInnerHeaders = ref<any[]>([])

const modifyModalVisible = ref(false)
const deleteModalVisible = ref(false)
const submitLoading = ref(false)

const deleteLoading = ref(false)
const name = ref('')



 interface MyResponseData {
   id: string;
   name: string;
   data: any;
 }

const loading = ref<boolean>(false);
const list = ref<any[]>([]);
const data = ref<any[]>([]);
const error = ref<string>('');
import type {AxiosInstance} from 'axios'


declare module '@vue/runtime-core' {
  interface ComponentCustomProperties {
    $axios: AxiosInstance
    list: any[],
  }
}
const app = getCurrentInstance()
const axios = app.appContext.config.globalProperties.$axios
console.log({app})
const getUsers = async (): void => {
  loading.value = true;
  error.value = '';


  try {
    const response = await axios.get<any[]>('/objects')
    list.value = response.data;
    if (list.value.length > 0) {
      // headers.value = Object.keys(list.value[0]);
      headers.value = [
        'id',
        'name'
      ]
    }

    const arr = list.value.map((item: any) => {
      if (item.data) {
        Object.keys(item.data).forEach(element => {
          item[element[0]]
        })
        return (Object.keys(item.data))
      }
    })

    const mergedArray = (innerHeaders.value).reduce((accumulator: any, currentArray: any) => {
      return [...accumulator, ...currentArray];
    }, []);

    allInnerHeaders.value = [...new Set(mergedArray.map((item: any) => item.toLowerCase()))];



  }catch (e) {
    error.value = 'Failed to fetch data';
  }
  loading.value = false;





  // Extract all unique inner headers from all objects
  // for (const item of list.value) {
  //   for (const key in item) {
  //     console.log(item[key], ' item[key]')
  //
  //     // if (Array.isArray(item[key])) {
  //       const innerHeaders = Object.keys(item[key]);
  //
  //
  //
  //       innerHeaders.forEach(innerHeader => {
  //         if (!allInnerHeaders.value.includes(innerHeader)) {
  //           allInnerHeaders.value.push(innerHeader);
  //         }
  //       });
  //     // }
  //   }
  // }


  // if (list.value.length > 0) {
  //   // headers.value = Object.keys(list.value[0]);
  //   headers.value = [
  //     'id',
  //     'name'
  //   ]
  //   // Extract inner headers dynamically from the inner array of the first object
  //   if (list.value[0].data) {
  //     console.log(list.value[0], ' list.value[0]')
  //     innerHeaders.value = Object.keys(list.value[0].data);
  //   }
  // }


  // Map received data to DTO
  data.value = list.value.map((item: any) => {
    return new UserDTO(item.id, item.name, item.data)
  })


};
const removeItem = async (id): void => {
  loading.value = true;
  error.value = '';



  try {
    const response = await axios.delete<any[]>(`/objects/${id}`)
    console.log(response , 'response delete')

  }catch (e) {
    error.value = 'Failed to fetch data';
  }
  loading.value = false;



};

const editItem = (id)=>{

}


// const getUsers = () => {
//
//   usersList()
//       .then(response => {
//         if (response.data.meta) {
//
//           list.value = response.data.data
//           totalPages.value = response.data.meta.last_page
//
//         } else {
//
//         }
//
//       }).catch(error => {
//
//

//     if (error.response.data.meta.errors) {
//
//       let errorMessage = ''
//       const errors:any = {}
//       Object.keys(error.response.data.meta.errors).map((key, index) => {
//         errors[key] = error.response.data.meta.errors[key]
//         errorMessage += `${errors[key]}`
//       })

//     } else {
//
//     }
//

//
//   }).finally(() => {
//     // store.setFullLoading(false)
//   })
//
// }

// const showMore = (pageItem:any) => {
//   page.value = pageItem;
//   currentPage.value = pageItem;
//   getUsers()
// }

const modifyUser = () => {
  modifyModalVisible.value = true
  console.log('modifyyy')
}

const closeModifyModal = () => {
  modifyModalVisible.value = false
  console.log('closeee')
}
const openModifyModal = (item:any) => {
  modifyModalVisible.value = true
  console.log(item,'opennn')
}

const submitUser = () => {
  submitLoading.value = true
}
const changeName = (event: any) => {
  name.value = event.target.value
}

const closeDeleteModal = () => {
  deleteModalVisible.value = false
}

const openDeleteModal = (item:any) => {
  console.log(item)
  deleteModalVisible.value = true
}

const deleteUser = () => {
  console.log('deleteUser')
}

onMounted(() => {
  getUsers()
})

</script>