<script setup lang="ts">

</script>

<template>
  <main class="flex items-center justify-center w-full h-full">
    <h1 class="text-lg text-center">Welcome to Brandyol Project</h1>
  </main>
</template>
