<template>


  <!--  modify modal  -->
  <component :is="Modal"
             :show-modal="modifyModalVisible"
             @closeModal="closeModifyModal"
             modalWidth="lg:w-[50rem] w-full ">
    <template v-slot:header>
      <div class="flex items-center justify-end w-full md:w-auto">

        <component :is="Button"
                   type="submit"
                   :loading="submitLoading"
                   text="ذخیره تغییرات"
                   txt-color="text-white-100"
                   custom-style="bg-primary-200 border-2 border-primary-200 flex items-center px-2 py-1 text-xs ml-2"
                   @click="submitUser">

        </component>

        <component :is="Button"
                   type="button"
                   @click="closeModifyModal()"
                   text="انصراف"
                   txt-color="text-primary-200"
                   custom-style="border-2 border-primary-200 flex items-center  px-2 py-1 text-xs">
        </component>
      </div>
    </template>
    <template v-slot:body>

      <div class="flex flex-col">

        <div class="flex items-center mb-4 w-full flex-col">

          <input type="text"
                 v-model="form.name"

                 placeholder="نام مورد نظر را وارد نمایید."
                 class="bg-gray-50 text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-indigo-400 focus:outline-none"/>

          <component :is="Button"
                     type="button"
                     @click="createProps()"
                     text="ایجاد ویژگی +"
                     txt-color="text-white-100"
                     custom-style=" w-full my-4 bg-primary-200 flex items-center  px-2 py-1 text-xs">
          </component>

          <div v-for="(item,index) in properties" :key="index" class="flex items-center justify-between gap-x-4 my-2">

            <input type="text"
                   v-model="item.key"
                   placeholder="ویژگی مورد نظر را وارد نمایید."
                   class="bg-gray-50 text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-indigo-400 focus:outline-none"/>

            <input type="text"
                   v-model="item.value"
                   placeholder="مقدار مورد نظر را وارد نمایید."
                   class="bg-gray-50 text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-indigo-400 focus:outline-none"/>


          </div>

        </div>

      </div>
    </template>
  </component>

  <!--  delete modal  -->
  <modal :show-modal="deleteModalVisible"
         type="delete"
         @closeModal="closeDeleteModal">
    <template v-slot:header>
      <div class="flex items-first mb-4">
        <label for="message"
               class="min-w-[50px] ml-2 block mb-2 text-sm font-medium text-gray-900">
        </label>
      </div>
    </template>
    <template v-slot:body>
      <p class="text-center my-4 text-sm leading-relaxed mt-0">
        آیا از حذف این آیتم اطمینان دارید؟
      </p>
      <div class="flex justify-center items-center">


        <component :is="Button"
                   type="submit"
                   :loading="deleteLoading"
                   text="تایید"
                   txt-color="text-white-100"
                   custom-style="bg-primary-200 border-2 border-primary-200 flex items-center px-2 py-1 text-xs ml-2"
                   @click="removeItem">

        </component>

        <component :is="Button"
                   type="button"
                   @click="closeDeleteModal()"
                   text="انصراف"
                   txt-color="text-primary-200"
                   custom-style="border-2 border-primary-200 flex items-center  px-2 py-1 text-xs">
        </component>

      </div>
    </template>
  </modal>


  <div
      class="md:mt-2 mb-10 bg-white-100 dark:bg-black-300 rounded-2xl mx-2 md:mx-10 mt-10 p-1 md:p-3 border border-white-300 dark:border-none"
  >

    <div class="mb-4">
      <component :is="Button"
                 type="button"
                 text="افزودن"
                 txt-color="text-primary-100"
                 custom-style="whitespace-nowrap px-10 py-2 w-fit text-center border border-primary-100 bg-transparent flex items-center justify-end text-xs rounded-lg shadow-[0_4px_10px_rgba(0,0,0,0.1)]"
                 @click="openModifyModal">
      </component>
    </div>
    <List :list-loading="listLoading"
          :list="list"
          :headers="headers"
          @delete-row="openDeleteModal"
          @edit-row="editItem"/>

  </div>

</template>
<script setup lang="ts">
import {useToast} from "vue-toastification";

const toast = useToast();

import {ref, onMounted, getCurrentInstance} from 'vue'
import UserDTO from '../dto/UserDTO.js';

import Button from '@/components/base/Button.vue'
import List from '@/components/List.vue'
import Modal from "@/components/base/Modal.vue";

const router = useRouter()


const headers = ref<any[]>([])

const modifyModalVisible = ref(false)
const removeId = ref(0)

const deleteModalVisible = ref(false)
const submitLoading = ref(false)
const selectItem = ref(<any>{
  name: ''
})
const deleteLoading = ref(false)
const name = ref('')

const properties = ref<any>([])


const loading = ref<boolean>(false);
const list = ref<any[]>([]);
const data = ref<any[]>([]);
const error = ref<string>('');
const modalType = ref<string>('create');
import type {AxiosInstance} from 'axios'
import {useRouter} from "vue-router";
import Form from "@/components/base/Form.vue";

const listLoading = ref(false)

// const selected_filter_obj = ref({})
// const modifyObj = ref({
//   category: ''
// })


declare module '@vue/runtime-core' {
  interface ComponentCustomProperties {
    $axios: AxiosInstance
    list: any[],
  }
}
const app:any = getCurrentInstance()
const axios = app.appContext.config.globalProperties.$axios

const getUsers = async () => {
  listLoading.value = true;
  error.value = '';


  try {
    const response = await axios.get('/objects')
    list.value = response.data.map((productData:any) => {

      return new UserDTO(productData);
    });
    const arr:any = []

    response.data.forEach((item: any) => {
      if (item.data == null) {
        item.data = {}
      }

      if (Object.keys(item.data).length > 0) {
        Object.keys(item.data).forEach((element: any) => {
          arr.push([element])
        })
      }

      // return (Object.keys(item.data))

    })


    const mergedArray = arr.reduce((accumulator: any, currentArray: any) => {
      return [...accumulator, ...currentArray];
    }, []);


    const sortedArr = [...new Set(mergedArray.map((item: any) => item.toLowerCase()))].sort();
    sortedArr.unshift('id', 'name')
    headers.value = sortedArr


  } catch (e) {
    error.value = 'Failed to fetch data';
  }
  listLoading.value = false;

  // Map received data to DTO
  data.value = list.value.map((item: any) => {
    return new UserDTO(item.id, item.name, item.data)
  })


};


const removeItem = async () => {


  deleteLoading.value = true;
  error.value = '';

  try {
    await axios.delete(`/objects/${removeId.value}`, {...form.value , _method:'delete' })


    const allData = [...list.value]
    const filterList = allData.filter(item => item.id !== removeId.value)
    list.value = filterList

    toast.success("عملیات با موفقیت انجام شد.", {
      timeout: 2000
    });
    closeDeleteModal()

  } catch (e) {
    error.value = 'Failed to fetch data';
  }
  deleteLoading.value = false;


};

const createProps = () => {
  const newprops = {
    key: '',
    value: ''
  }
  properties.value.push(newprops)
}

const editItem = (id: number) => {

  modalType.value = 'edit'
  modifyModalVisible.value = true
  const allData = [...list.value]
  const findItem = allData.find(item => item.id === id)
  console.log(findItem , 'find')
  selectItem.value = {...findItem}
  form.value.name = selectItem.value.name
 /* form.value.data = selectItem.value.data*/

  /*  router.push({name:'editUser' , params:{id}})*/
}

const closeModifyModal = () => {
  modifyModalVisible.value = false
  form.value = {
    name: '',
    data: {}
  }
  properties.value= []
}
const openModifyModal = (item: any) => {
  modifyModalVisible.value = true
  modalType.value = 'create'
}
const form = ref<any>({
  name: '',
  data: {}
})

const submitUser = async () => {
  if(modalType.value === 'create'){
    if (properties.value.length > 0) {
      const obj: any = {}
      properties.value.forEach((item: any) => {
        obj[item.key] = item.value
      })
      form.value.data = obj
    } else {
      form.value.data = null
    }
    const sortList = (list.value.map(item => item.id)).sort((a, b) => a - b)

    const id = +sortList[sortList.length - 1] + 1;

    form.value.id = id

    submitLoading.value = true
    try {
      await axios.post(`/objects/`, {...form.value ,  _method:'post'})
      toast.success("عملیات با موفقیت انجام شد.", {
        timeout: 2000
      });

      closeModifyModal()
      // const oldList = [...list.value]
      // list.value= [...list.value]
      // submitLoading.value = true
      // const allData = [...list.value]
      // const currentIndex = allData.findIndex(item => item.id === selectItem.value.id)
      // allData[currentIndex] = selectItem.value
      // list.value = allData
      // submitLoading.value = false
      // modifyModalVisible.value = false
    } catch (e) {
      console.log(e)
    }

    submitLoading.value = false
  }else{

    submitLoading.value = true
    try {
      list.value = await axios.put(`/objects/${selectItem.value.id}`, {...form.value , _method:'put' })
      toast.success("عملیات با موفقیت انجام شد.", {
        timeout: 2000
      });

      closeModifyModal()
    } catch (e) {
      console.log(e)
    }
    submitLoading.value = false
  }




}
const changeName = (event: any) => {
  name.value = event.target.value
}

const closeDeleteModal = () => {
  deleteModalVisible.value = false
}

const openDeleteModal = (id: any) => {
  removeId.value = id
  deleteModalVisible.value = true
}

const deleteUser = () => {
  console.log('deleteUser')
}

onMounted(() => {
  getUsers()
})

</script>