<template>
  <div class="rounded-lg p-4 flex items-start"
       :class="bgColor">
    <div v-if="props.type === 'info'">
      <svg width="18"
           height="18"
           viewBox="0 0 18 18"
           fill="none"
           xmlns="http://www.w3.org/2000/svg">
        <path
            d="M9.00033 17.3334C4.39795 17.3334 0.666992 13.6024 0.666992 9.00008C0.666992 4.39771 4.39795 0.666748 9.00033 0.666748C13.6027 0.666748 17.3337 4.39771 17.3337 9.00008C17.3337 13.6024 13.6027 17.3334 9.00033 17.3334ZM9.00033 15.6667C12.6822 15.6667 15.667 12.682 15.667 9.00008C15.667 5.31818 12.6822 2.33341 9.00033 2.33341C5.31843 2.33341 2.33366 5.31818 2.33366 9.00008C2.33366 12.682 5.31843 15.6667 9.00033 15.6667ZM8.16699 4.83341H9.83366V6.50008H8.16699V4.83341ZM8.16699 8.16675H9.83366V13.1667H8.16699V8.16675Z"
            fill="#F8B21F"/>
      </svg>

    </div>
    <div class="w-full block">
      <slot name="text"/>
    </div>

  </div>
</template>

<script setup>
const props = defineProps({
  type: {
    type: String,
    default: 'info'
  }
})

const bgColor = computed(() => {
  if (props.type === 'info') {
    return 'bg-[#FEF9EB]'
  }
})
</script>


<style scoped>

</style>