<script setup lang="ts">

import {computed, getCurrentInstance, ref} from "vue";

const props = defineProps({
  isEditMode: {
    type: Boolean,
    default: false
  },
  // form:{
  //   type:Object
  // }
})


const emit = defineEmits(['update', 'create'])
const defaultProps = ['color', 'price', 'description']

const form = ref({
  name: '',
  data: {
    color: 'red',
    price: 2000
  }
})


const properties = ref([...defaultProps])
const selectedProps = ref([])

const success = ref([])
const error = ref([])

const app = getCurrentInstance()
const axios = app.appContext.config.globalProperties.$axios
const submit = async () => {
  if (props.isEditMode) {
    emit('update', form)
  } else {




    try {
      // const params = new URLSearchParams()
      // params.append('name',form.value.name)
      // params.append('color',form.value.data.color)
      // params.append('price', form.value.data.price)
      const response = await axios.post<any[]>(`/objects/` , {
        name:form.value.name,

        data:{
          color:form.value.data.color
        },
        id:15,

      })

    }catch (e) {
      console.log('eeeer' , e)
    }


    emit('create', form)
  }
}

const initialValue = computed({
  get() {
    return 'a'
  },
  set() {

  },

})
</script>

<template>
  <div>


    <form class="max-w-md mx-auto" @submit="(e)=>e.preventDefault()">

      <div class="mb-5">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
        <input v-model="form.name" type="text" id="email"
               class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
               placeholder="name@flowbite.com" required/>

        <p class="mt-2 text-sm text-green-600 dark:text-green-500"><span class="font-medium">Alright!</span> Username
          available!</p>
      </div>
      <div>
        <label for="username-error" class="block mb-2 text-sm font-medium text-red-700 dark:text-red-500">Your
          name</label>
        <input type="text" id="username-error"
               class="bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block w-full p-2.5 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500"
               placeholder="Bonnie Green">
        <p class="mt-2 text-sm text-red-600 dark:text-red-500"><span class="font-medium">Oops!</span> Username already
          taken!</p>
      </div>


<!--      <label for="floating_props"
             class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Select
        Properties</label>

      <select id="floating_props"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <template v-for="item in properties" :key="index">
          <option>{{ item }}</option>
        </template>

      </select>

      <div class="grid md:grid-cols-2 md:gap-6">
        <div class="my-5">
          <label for="username-error" class="block mb-2 text-sm font-medium text-red-700 dark:text-red-500">Your
            name</label>
          <input type="text" id="username-error"
                 class="bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block w-full p-2.5 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500"
                 placeholder="Bonnie Green">
          <p class="mt-2 text-sm text-red-600 dark:text-red-500"><span class="font-medium">Oops!</span> Username already
            taken!</p>
        </div>
        <div class="relative z-0 w-full my-5 group">
          <label for="username-error" class="block mb-2 text-sm font-medium text-red-700 dark:text-red-500">Your
            name</label>
          <input type="text" id="username-error"
                 class="bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block w-full p-2.5 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500"
                 placeholder="Bonnie Green">
          <p class="mt-2 text-sm text-red-600 dark:text-red-500"><span class="font-medium">Oops!</span> Username already
            taken!</p>
        </div>
      </div>-->

      <button type="submit" @click="submit"
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Submit
      </button>
    </form>


  </div>
</template>

<style scoped>

</style>