<template>
  <div class="w-full block">

    <div class="w-full relative group flex items-center border"
         :class="[borderInput,inputCustomStyle]">

      <slot v-if="inputProps.prependElement"
            name="prependElement"/>

      <div class="relative flex items-center space-x-2 w-full">

        <input
            :id="inputProps.value + '-' + inputProps.type"
            :type="inputProps.type"
            ref="inputRef"
            :name="inputProps.name"
            :dir="inputProps.labelDirection"
            :placeholder="inputProps.placeholder"
            :disabled="inputProps.disabled"
            :required="inputProps.required"
            :readonly="inputProps.readonly"
            :minlength="inputProps.minLength"
            :maxlength="inputProps.maxLength"
            class="p-2.5 w-full h-10 transition-all border-none outline-none shadow-none"
            :class="[textDirectionStyle,inputCustomStyle,placeholderDirectionStyle]"
            @blur="blurHandler"
            @focus="focusHandler"
            v-model="inputVal"
            autocomplete="off"

            @keyup="handleKeyUp"

            v-maska
            :data-maska="dataMask"
            @maska="onMaska"/>


        <div v-if="inputProps.appendIcon"
             class="flex items-center justify-center"
             @click="appendIconClick">
          <img
              class="cursor-pointer"
              :alt="inputProps?.label"
              :src="inputProps.appendIcon"/>
        </div>

      </div>

      <slot v-if="inputProps.appendElement"
            name="appendElement"/>

    </div>

    <div v-if="inputProps.errors" class="text-right pr-1">
      <ul class="transition-all duration-300 overline-1"
          :class="{'show' :inputProps.errors.length > 0}">
        <li v-for="error in inputProps.errors"
            :key="error">
          <span class="text-[#FF4C4C] text-xs">{{ error.message }}</span>
        </li>
      </ul>
    </div>

  </div>
</template>

<script setup>

let arr = []
// const priceOptions = {
//   preProcess: val => val.replace(/[,]/g, ''),
//   postProcess: val => {
//     if (!val) return ''
//
//     const sub = 3 - (val.includes('.') ? val.length - val.indexOf('.') : 0)
//
//     arr = Intl.NumberFormat('en-US', {
//       style: 'currency',
//       currency: 'USD'
//     }).format(val)
//         .slice(0, sub ? -sub : undefined).split('$')
//
//     return arr[1]
//   }
// }


const noFocus = ref(true)
const props = defineProps({
  value: {},
  inputProps: {
    type: Object,
    default: {
      minLength: null,
      maxLength: null,
      option: 'default',
      label: '',
      placeholder: '',
      type: 'text',
      labelDirection: 'rtl',
      textDirection: 'rtl',
      placeholderDirection: 'rtl',
      name: '',
      errors: [],
      disabled: false,
      appendIcon: '',
      prependIcon: '',
      preIcon: '',
      preElement: false,
      appendElement: false,
      prependElement: false,
      required: false,
      readonly: false,
      hint: [],
      hasMask: false,
      isDecimalNumber: false,
      autoFocus: false
    }
  },
  inputCaptcha: {
    type: String,
    default: ''
  },
  inputCustomStyle: {
    type: String,
    default: ''
  },
})

const dataMask = ref('')

const selected_country_code = ref('')

let selected_country_obj = ref({})

const emit = defineEmits(['appendIconHandler', 'emitBlur', 'changedData', 'selectedCountryCode', 'unMasked'])

const textDirectionStyle = computed({
  get() {
    if (props.inputProps.textDirection === 'ltr') {
      return 'dir-ltr'
    } else {
      return ''
    }
  }
})

const placeholderDirectionStyle = computed({
  get() {
    if (props.inputProps.placeholderDirection === 'ltr') {
      return 'text-left placeholder:text-left'
    } else if (props.inputProps.placeholderDirection === 'center') {
      return 'text-center placeholder:text-center'
    } else {
      return 'text-right placeholder:text-right'
    }
  }
})


const inputVal = computed({
  get() {
    return props.value;
  },
  set(value) {
    emit('update:modelValue', value)
  }
})

const borderInput = computed(() => {
  if (props.inputProps.errors?.length > 0) {
    return 'border-danger-200'
  }

  if (props.inputProps.success) {
    return 'border-primary-200'
  }
  return 'border-transparent'
})

const inputRef = ref()

// methods
const blurHandler = () => {
  noFocus.value = true
  inputRef.value?.blur()

  emit('emitBlur')
}
const focusHandler = () => {
  inputRef.value?.focus()
  noFocus.value = false
}


const appendIconClick = () => {
  emit('appendIconHandler')
}

const prependIconClick = () => {
  emit('prependIconHandler')
}

const handleKeyUp = (event) => {

  var persian = /^[\u0600-\u06FF\s]+$/;

  if (props.inputProps.isDecimalNumber && !persian.test(event.target.value)) {
    event.target.value = (event.target.value).replace(/[^\d.]|\.(?=.*\.)/, '')
  }

}

onMounted(() => {
  if (props.inputProps.hasMask) {
    if (props.inputProps.maskType === 'cardNumber') {
      dataMask.value = '####-####-####-####'
    } else if (props.inputProps.maskType === 'nationalCode') {
      dataMask.value = '##########'
    } else {
      dataMask.value = '############################################################'
    }

  } else {
    dataMask.value = ''
  }

  if (props.inputProps.autoFocus) {
    inputRef.value.focus()
  }

})

const onMaska = (event) => {
  // console.log({
  //   masked: event.detail.masked,
  //   unmasked: event.detail.unmasked,
  //   completed: event.detail.completed
  // })
  emit('unMasked', event.detail.unmasked)
}
</script>
