<template>
  <div v-if="showModal"
       class="fixed lg:bottom-auto lg:inset-0 bottom-60 w-full h-full flex justify-center">
    <div class="opacity-50 dark:opacity-70 fixed inset-0 z-[30] bg-black-100 dark:bg-black-300"
         @click="handleClose"></div>

    <div class="flex justify-center w-full"
         :class="position">

      <div
          class="overflow-x-hidden overflow-y-auto h-fit items-center justify-center inset-0 z-[40] dark:border dark:border-black-500 relative flex flex-col bg-white-100 dark:bg-black-300 outline-none focus:outline-none"
          :class="[modalWidth,modalRounded,dynamicModalWrapperStyle]"
          ref="contentRef">

        <!-- header -->
        <div class="flex items-center justify-between w-full p-5 rounded-t-2xl"
             :class="headerStyle">
          <slot name="header"/>

          <button
              v-if="hasCloseBtn"
              class="text-red-500 bg-transparent font-bold uppercase text-sm rounded outline-none focus:outline-none ease-linear transition-all duration-150"
              type="button"
              @click="closeModal">

            <svg v-if="props.defaultCloseBtn"
                 width="26" height="26" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="24" cy="24" r="24" transform="matrix(-1 0 0 1 48 0)" fill="white"/>
              <path
                  d="M24.0006 22.8221L28.1253 18.6973L29.3038 19.8758L25.1791 24.0006L29.3038 28.1253L28.1253 29.3038L24.0006 25.1791L19.8758 29.3038L18.6973 28.1253L22.8221 24.0006L18.6973 19.8758L19.8758 18.6973L24.0006 22.8221Z"
                  fill="#7C085E"/>
            </svg>

            <slot v-else
                  name="closeBtn"/>

            <!--              <svg width="26"-->
            <!--                   height="26"-->
            <!--                   viewBox="0 0 26 26"-->
            <!--                   fill="none"-->
            <!--                   xmlns="http://www.w3.org/2000/svg">-->
            <!--                <circle cx="13"-->
            <!--                        cy="13"-->
            <!--                        r="12.5"-->
            <!--                        stroke="none"-->
            <!--                fill="#fff"/>-->
            <!--                <path-->
            <!--                    d="M13.0005 12.0577L16.3003 8.75781L17.2431 9.70062L13.9433 13.0005L17.2431 16.3003L16.3003 17.2431L13.0005 13.9433L9.70062 17.2431L8.75781 16.3003L12.0577 13.0005L8.75781 9.70062L9.70062 8.75781L13.0005 12.0577Z"-->
            <!--                    stroke="#2D2D2D"/>-->
            <!--              </svg>-->


          </button>

        </div>

        <!-- body -->
        <div class="relative md:pt-7 px-4 flex-auto w-full">
          <slot name="body"/>
        </div>

        <!-- footer -->
        <div class="p-6 w-full">
          <slot name="footer"/>
        </div>

      </div>


    </div>

  </div>
</template>

<script setup>
import {ref,computed} from 'vue'

const contentRef = ref()

//computed

// props
const props = defineProps({
  modalWidth: {
    type: String,
    default: 'w-[20rem] rounded-2xl'
  },
  modalRounded: {
    type: String,
    default: 'rounded-2xl'
  },
  showModal: {
    type: Boolean,
    default: false
  },
  hasCloseBtn: {
    type: Boolean,
    default: false
  },
  headerStyle: {
    type: String,
    default: 'bg-transparent'
  },
  dynamicModalWrapperStyle: {
    type: String,
    default: 'items-center'
  },
  defaultCloseBtn: {
    type: Boolean,
    default: true
  },
  clickOnOutside: {
    type: Boolean,
    default: false
  },
  position: {
    type: String,
    default: 'items-end md:items-center'
  }
})

// emits
const emit = defineEmits(['closeModal'])

// methods
const closeModal = () => {
  emit('closeModal', false)
}

const handleClose = () => {
  if (props.clickOnOutside) {
    closeModal()
  }
}
</script>
<style scoped>

</style>