<template>
    <div class="z-50 flex items-center justify-center">
        <div class="z-50 relative inline-block text-left dropdown">
            <div class="rounded-md"
                 :class="(isFilter)? '':'shadow-sm'">
                <button class="inline-flex items-center justify-center w-full px-2 py-1 text-sm font-medium transition duration-150 ease-in-out rounded-md focus:outline-none focus:border-[#2131BA] focus:shadow-outline-none active:bg-gray-50 active:text-gray-800"
                        type="button"
                        aria-haspopup="true"
                        aria-expanded="true"
                        aria-controls="headlessui-menu-items-117"
                        :class="(isFilter) ? 'text-[#2131BA]' : 'bg-[#fff] border border-gray-300'"
                        @focus="selectFocus"
                        @blur="selectBlur">
                    <svg v-if="isFilter"
                         class="ml-1"
                         width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.7497 0.666748H1.24967C1.13917 0.666748 1.03319 0.710647 0.955047 0.788787C0.876906 0.866927 0.833008 0.972908 0.833008 1.08341V1.77925C0.833086 1.87766 0.852639 1.97508 0.89054 2.0659C0.928441 2.15672 0.983941 2.23914 1.05384 2.30841L5.83301 7.15841V11.4084L6.66634 11.7251V6.91675C6.66666 6.86191 6.65615 6.80755 6.63541 6.75679C6.61468 6.70602 6.58412 6.65985 6.54551 6.62091L1.66634 1.74591V1.50008H13.333V1.75425L8.47051 6.62091C8.42887 6.65844 8.39523 6.70398 8.3716 6.75481C8.34798 6.80565 8.33485 6.86072 8.33301 6.91675V12.4209L9.16634 12.7501V7.12508L13.9455 2.33341C14.0165 2.26238 14.0727 2.17788 14.1106 2.08486C14.1485 1.99185 14.1675 1.89219 14.1663 1.79175V1.08341C14.1663 0.972908 14.1224 0.866927 14.0443 0.788787C13.9662 0.710647 13.8602 0.666748 13.7497 0.666748Z"
                              fill="#2131BA"/>
                    </svg>

                    <span class="ml-2">{{ selected_placeholder }}</span>
                    <svg class="w-5 h-5"
                         viewBox="0 0 20 20"
                         fill="currentColor">
                        <path fill-rule="evenodd"
                              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                              clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
            <div class="mt-2 z-50 bg-[#fff] dropdown-menu transition-all duration-300 transform origin-top-right -translate-y-2 scale-95"
                 :class="(showList)? '': 'opacity-0 invisible'"
            >
                <div class="absolute w-56 mt-2 origin-top-right bg-[#fff] border border-gray-200 divide-y divide-gray-100 rounded-md shadow-lg outline-none"
                     :class="side === 'left' ? 'left-0' : 'right-0'"
                     aria-labelledby="headlessui-menu-button-1"
                     id="headlessui-menu-items-117"
                     role="menu">
                    <ul class="divide-y overflow-y-scroll max-h-[15rem]">
                        <li v-for="(cat,index) in selectable"
                            @click="select(cat)"
                            class="text-sm leading-5 cursor-pointer px-4 py-1">
                            <span class="text-right w-full flex items-center py-1">{{ cat.categoryPersianLabel }}</span>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</template>

<script>

import {mapState} from "pinia";
import {useGlobalStore} from "~/stores/global";

export default {
    name: "SelectOptions",
    props: ['placeholder', 'selectable', 'selected', 'side', 'isFilter'],
    data() {
        return {
            selectedObj: {},
            selected_placeholder: '',
            showList: false
        }
    },
    computed: {
        ...mapState(useGlobalStore, ['isMobile']),
    },
    mounted() {

        if (this.selected.title) {
            this.selected_placeholder = this.selected.title
        } else {

            this.selected_placeholder = this.placeholder
        }
        console.log(this.selected_placeholder, ' this.selected_placeholder')
    },
    methods: {
        select(value) {
            this.selected_placeholder = value.categoryPersianLabel

            this.selectedObj.value = value.categoryLabel
            this.selectedObj.title = value.categoryPersianLabel
            this.$emit('selectedObj', this.selectedObj)
        },
        selectFocus() {
            this.showList = true
        },
        selectBlur() {
            this.showList = false
        },
    }

}
</script>

<style scoped>

</style>