<script setup lang="ts">

import Button from "@/components/base/Button.vue";

defineProps({
  list: {
    type: Array,
    default: [],
  },
  headers: {
    type: Array,
    default: []
  },
  listLoading: {
    type: Boolean,
    default: false
  }
})

const emit = defineEmits(['delete-row', 'edit-row'])

const deleteItem = (id) => {
  console.log('hello')
  emit('delete-row', id)
  console.log({id})
}
const editItem = (id) => {

  emit('edit-row', id)
}
</script>

<template>
  <div class="flex flex-col w-full">

    <h3 class="block bg-white-200 dark:bg-black-300 px-3 py-4 rounded-2xl text-black-100 dark:text-white-100 text-md text-right">
      لیست کاربران</h3>

    <section>
      <div class="w-full overflow-hidden rounded-2xl border border-white-100 dark:border-black-500">
        <div v-if="!listLoading"
             class="w-full overflow-x-auto">

          <div v-if="list?.length > 0">
            <table class="w-full table">
              <thead>
              <tr class="text-md text-left text-white-200">
                <th v-for="(header,i) in headers"
                    :key="i"
                    class="px-4 py-3 text-center text-[#9E9E9E] text-xs">{{ header }}
                </th>

                <th v-for="(header,i) in []"
                    :key="i"
                    class="px-4 py-3 text-center text-[#9E9E9E] text-xs">{{ header }}
                </th>

                <th class="px-4 py-3 text-center text-[#9E9E9E] text-xs">
                  عملیات
                </th>
              </tr>
              </thead>
              <tbody>

              <tr v-for="(item,index) in list"
                  :key="index"
                  class="text-gray-700 border-b border-white-300 dark:border-black-400 last:border-none">


                <td
                    v-for="(detail,j) in item"
                    :key="j"
                    class="px-4 py-3 text-center">
                  <p class="text-xs text-black-200 dark:text-white-200">{{


                      detail || '-'
                    }}</p>
                </td>
                <td class="px-4 py-3 text-center">
                  <div class="flex justify-center items-center">
                    <component :is="Button"
                               type="button"
                               @click="editItem(item.id)"
                               text="ویرایش"
                               txt-color="text-white-100"
                               custom-style="rounded-lg bg-primary-200 flex items-center ml-3 px-2 py-1 text-xs">
                      <template v-slot:image>
                        <svg width="15"
                             height="15"
                             viewBox="0 0 12 12" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                          <path
                              d="M0 6.66678H1.35159C1.51411 7.77681 2.07325 8.79158 2.92671 9.52543C3.78016 10.2593 4.87089 10.6631 5.99933 10.6631C7.12777 10.6631 8.21849 10.2593 9.07195 9.52543C9.92541 8.79158 10.4845 7.77681 10.6471 6.66678H11.9993C11.834 8.13359 11.1306 9.48839 10.0238 10.4722C8.91692 11.4561 7.48416 12 5.99933 12C4.5145 12 3.08174 11.4561 1.97488 10.4722C0.868028 9.48839 0.165373 8.13359 0 6.66678ZM0 5.33322C0.165373 3.86641 0.868698 2.51161 1.97556 1.52776C3.08241 0.543903 4.51517 0 6 0C7.48483 0 8.91759 0.543903 10.0244 1.52776C11.1313 2.51161 11.8346 3.86641 12 5.33322H10.6477C10.4857 4.22271 9.92675 3.20736 9.07317 2.47304C8.21959 1.73872 7.12851 1.33457 5.99967 1.33457C4.87082 1.33457 3.77974 1.73872 2.92616 2.47304C2.07258 3.20736 1.51362 4.22271 1.35159 5.33322H0Z"
                              fill="white"/>
                        </svg>


                      </template>
                    </component>

                    <component :is="Button"
                               type="button"
                               @click="deleteItem(item.id)"
                               text="حذف"
                               txt-color="text-danger-200"
                               custom-style="rounded-lg border-2 border-danger-200 flex items-center ml-6 px-2 py-1 text-xs">
                      <template v-slot:image>
                        <svg width="15"
                             height="15"
                             viewBox="0 0 12 13"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                          <path
                              d="M2.43933 12.342C2.07438 12.342 1.76186 12.2121 1.50176 11.9522C1.24165 11.6923 1.11182 11.3802 1.11226 11.016V2.39636H0.44873V1.07027H3.76639V0.407227H7.74759V1.07027H11.0652V2.39636H10.4017V11.016C10.4017 11.3806 10.2717 11.6929 10.0116 11.9528C9.75145 12.2127 9.43915 12.3425 9.07465 12.342H2.43933ZM9.07465 2.39636H2.43933V11.016H9.07465V2.39636ZM3.76639 9.68986H5.09346V3.72245H3.76639V9.68986ZM6.42052 9.68986H7.74759V3.72245H6.42052V9.68986Z"
                              fill="#2131BA"/>
                        </svg>
                      </template>
                    </component>

                  </div>
                </td>
              </tr>

              <!--                  <td class="px-4 py-3 text-center">-->
              <!--                    <p class="text-xs text-black-200 dark:text-white-200">{{-->
              <!--                        (item?.name)-->
              <!--                      }}</p>-->
              <!--                  </td>-->

              <!--                  <td v-for="(value, key) in (item.data)"-->
              <!--                      :key="key"-->
              <!--                      class="px-4 py-3 text-center">-->
              <!--                    <p class="text-xs text-black-200 dark:text-white-200">-->
              <!--                      {{ key }}: {{ value }}-->
              <!--                    </p>-->
              <!--                  </td>-->


              <!--                </tr>-->
              </tbody>

            </table>

          </div>


          <div v-else
               class="w-full flex flex-col justify-center items-center">
            <p class="my-20 w-full text-sm text-black-200 dark:text-white-200 text-center flex justify-center items-center">
              هنوز سفارشی ثبت نشده است.</p>
          </div>
        </div>
        <div v-else
             class="w-full my-5">
          <div class="w-full h-full flex items-center justify-center">
            <div class="w-7 h-7 border-b-2 border-gray-900 rounded-full animate-spin"></div>
          </div>
        </div>
      </div>
    </section>


    <!--      <div v-if="data?.length > 8"-->
    <!--           class="max-w-lg mx-auto">-->
    <!--        <component :is="Pagination"-->
    <!--                   :total-pages="totalPages"-->
    <!--                   :total="total"-->
    <!--                   :max-visible-buttons="totalPages < 3  ? 1 : 3"-->
    <!--                   :per-page="perPage"-->
    <!--                   :current-page="currentPage"-->
    <!--                   :has-more-pages="hasMorePages"-->
    <!--                   @pagechanged="showMore">-->
    <!--        </component>-->
    <!--      </div>-->


  </div>
</template>

<style scoped>

</style>