<template>
  <div v-show="show">

    <div v-if="Array.isArray(data)"
         class="z-50 w-max bg-white-100 dark:bg-black-100 shadow-[0_1px_10px_rgba(0,0,0,.2)] mx-auto fixed inset-x-0 px-5 py-4 rounded-lg border-r-8 drop-shadow-lg"
         :class="[getBorderType,getPosition]"
    >
      <ul class="text-sm">
        <li v-for="item in data" class="leading-7">
          <span class="text-black-200 dark:text-white-200">{{ item }}</span>
        </li>
      </ul>
    </div>

    <div v-else
         class="z-50 w-max bg-white-100 dark:bg-black-100 shadow-[0_1px_10px_rgba(0,0,0,.2)] mx-auto fixed inset-x-0 px-5 py-4 rounded-lg border-r-8 drop-shadow-lg mb-1"
         :class="[getBorderType,getPosition]"
    >
      <p class="text-sm text-black-200 dark:text-white-200">
        {{ data }}
      </p>
    </div>

  </div>
</template>

<script setup>
// props
const props = defineProps({
  show: {
    type: Boolean,
    default: false
  },
  data: {},
  type: {
    type: String,
    default: ''
  },
  position: {
    type: String,
    default: 'bottom'
  }
})

// computed
const getBorderType = computed(() => {
  if (props.type === 'success') {
    return 'border-[#54B990]'
  } else if (props.type === 'error') {
    return 'border-[#FF4C4C]'
  } else if (props.type === 'black') {
    return 'border-black'
  } else {
    return 'border-[#3399FF]'
  }
})

const getPosition = computed(() => {
  if (props.position === 'bottom') {
    return 'bottom-16'
  } else {
    return 'top-20'
  }
})

</script>

<style scoped>

</style>