@import './base.css';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: DanaFaNum !important;
  direction: rtl;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}


@font-face {
  font-family: DanaFaNum;
  src: url(./fonts/DanaFaNum-Medium.woff);
}