<template>

  <div
      class="flex flex-col w-full bg-white-300 dark:bg-black-100">


    <div class="flex h-full w-full">

      <component :is="Sidebar"></component>

      <div class="lg:pr-[300px] flex flex-col w-full h-full lg:px-10">

        <component :is="Navbar"></component>

        <!-- content -->
        <section
            class="fixed bottom-0 bg-white-300 dark:bg-black-100 h-full w-full text-right inset-0 md:pt-4 md:pb-10 overflow-y-auto mt-[60px] lg:pr-[300px]"
            ref="contentRef">
          <slot/>
        </section>
      </div>

    </div>

  </div>

</template>

<script setup lang="ts">
import Navbar from "@/components/layout/Navbar.vue";
import Sidebar from "@/components/layout/Sidebar.vue";
</script>